<div class="panel panel-default">
  <div class="panel-body">
    <p><em>By <%= comment.user.name %></em></p>

    <%= comment.body %>
    <% if @can_moderate %>
      <p>
      <%= link_to 'Delete comment', comment_path(comment), method: :delete, class: "btn btn-default" %>
      </p>
    <% end %>
  </div>
</div>


