<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= text_post.title %>
    </h3>
  </div>

  <div class="panel-body">
    <p><em>By <%= link_to text_post.user.name, user_path(text_post.user) %></em></p>

    <%= text_post.body %>
  </div>
</div>

